@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow:wght@300&family=Yeseva+One&display=swap");
:root {
  --body-bg: #f4e7cd;
  --color-main: #d9a74f;
  --color-main-200: #ebcc9d;
  --color-main-500: #c5872d;
  --color-main-600: #aa6924;
  --color-main-700: #884c20;
  --color-main-800: #723f21;
  --color-main-900: #381610;
  --black: #13131a;
  --text-white: #fff;
  --shadow-color: #fff;
  --border: 1px solid rgb(255, 255, 255);
  --brown-one: #684b30;
  --brown-two: #673e18;
  --brown-three: #2a0d08;
  --button-border-radius: 4px;
  --border-radius-image: 50%;
  --border-radius: 4px;
  --button-active: 0.96;
  --margin-top-header: 28px;
  --height-header: 50px;
  --padding-top-section: 70px;
  --grid-padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  color: #302f28;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Yeseva One", serif;
  font-display: swap;
}
a,
button {
  font-family: "Barlow", sans-serif;
  font-display: swap;
}
p {
  font-family: "Barlow Condensed", sans-serif;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: inherit;
}
body {
  background-color: var(--body-bg);
}

/* GLOBAL STYLES */
.text-center {
  text-align: center;
}
.title-section {
  color: var(--color-main-900);
  font-size: clamp(1.6rem, 3vw, 4rem);
}
.title-section span {
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 16px;
  padding-top: var(--padding-top-section);
}
.btn-add-cart {
  font-weight: bold;
  width: 100%;
  border: 1px solid var(--color-main-700);
  background-color: var(--color-main-700);
  cursor: pointer;
  padding: 4px 6px 6px 6px;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--text-white);
  transition: 0.4s;
}
.btn-add-cart:hover {
  background-color: transparent;
  color: var(--color-main-700);
}
.btn-add-cart:active {
  scale: var(--button-active);
}
.btn-cta {
  padding: 6px 12px 8px 12px;
  font-size: clamp(1rem, 10vw, 1rem);
  color: var(--text-white);
  background-color: var(--color-main-800);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-main-800);
  width: fit-content;
  transition: all 0.3s ease;
}
.btn-cta:hover {
  background-color: transparent;
}
.swiper-pagination-bullet-active {
  background: var(--color-main) !important;
}

/* HEADER */
.header {
  min-height: var(--height-header);
  backdrop-filter: blur(5px);
  background-color: #0000009e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/* LOGO */
.header .logo img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
}
/* NAVBAR */
.header .navbar-items a {
  margin: 0 12px;
  font-size: 16px;
  color: gray;
  color: var(--text-white);
  transition: all 0.4s;
}
.header .navbar-items a:hover {
  color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
  padding-bottom: 4px;
}
/* ICONS */
.header .icons {
  display: flex;
  gap: 16px;
}
.header .icons img {
  color: var(--text-white);
  cursor: pointer;
}
.header .icons img:hover {
  color: var(--color-main);
}
#toggle {
  display: none;
}
/* HEADER SEARCH */
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background-color: #fff;
  width: 350px;
  height: 40px;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: var(--black);
  padding: 16px;
  text-transform: none;
}
.header .search-form label {
  cursor: pointer;
  font-size: 24px;
  margin-right: 16px;
  color: var(--black);
}
.header .search-form label:hover {
  color: var(--color-main);
}
/* HEADER CART ITEMS */
.header .cart-items-container {
  position: fixed;
  top: var(--height-header);
  height: 100vh;
  bottom: 0;
  right: -200%;
  background-color: var(--color-main-200);
  box-shadow: 0px 2px 4px #171717;
  padding: 0 12px;
  transition: right 0.7s ease;
  z-index: 2;
}
.header .cart-items-container.active {
  right: 0;
}
.header .cart-items-container .cart-item {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--body-bg);
  padding: 8px;
  border-radius: var(--border-radius);
}
.header .cart-items-container .cart-item img {
  border-radius: var(--border-radius);
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1.1;
}
.header .cart-items-container .cart-item .content h3 {
  font-size: 20px;
  color: var(--color-main-900);
  padding-bottom: 10px;
}
.header .cart-items-container .cart-item .content .price {
  font-size: 20px;
  color: var(--color-main-700);
}
.header .cart-items-container .btn-check {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  font-weight: bold;
  background-color: var(--color-main-800);
  color: var(--text-white);
  border-radius: var(--button-border-radius);
  transition: background-color 0.4s;
}
.header .cart-items-container .btn-check:hover {
  background-color: var(--color-main-500);
}
/* HERO */
.hero {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url(./image/webp-y-comprimida/hero-webp.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
}
.hero-info {
  text-align: center;
}
.hero-info h1 {
  color: var(--text-white);
  text-shadow: 1px 2px 4px black;
  font-size: clamp(1.6rem, 10vw, 6rem);
  letter-spacing: 2px;
}
.hero-info p {
  margin-bottom: 12px;
  font-size: clamp(0.4rem, 6vw, 2rem);
  margin-top: -8px;
  letter-spacing: 2px;
  font-style: oblique;
  text-shadow: 0px 2px 4px var(--black);
  color: var(--text-white);
}
/* TOP CATEGORIES */
.top-categories-grid {
  max-width: 900px;
  margin: 48px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}
.card-category {
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.card-category:hover {
  transform: scale(1.01);
}
.card-category h3 {
  border-radius: var(--border-radius);
  color: var(--color-main-500);
  padding: 72px 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.container-top-categories .espresso {
  background-image: url(./image/webp-y-comprimida/espresso-web-comprimido.webp);
}
.container-top-categories .capuccino {
  background-image: url(./image/webp-y-comprimida/capuccino-webp-comprimido.webp);
}
.container-top-categories .americano {
  background-image: url(./image/webp-y-comprimida/americano-webp.webp);
}
/* SECTION COFFEE */
.section-coffee-grid {
  margin-top: 32px;
  margin-inline: auto;
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.section-coffee-grid .fr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fr-data i {
  color: var(--color-main-700);
  font-size: 32px;
}
.section-coffee-grid img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  aspect-ratio: 9/14;
}
.fr-data .fr-box-text p {
  color: var(--color-main-700);
  font-size: clamp(1rem, 3vw, 1.2rem);
  max-width: 300px;
  margin: 0 auto;
}
.fr-data .fr-box-text h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  margin: 4px 0;
  color: var(--color-main-900);
}
/* MENU */
.grid-menu {
  display: grid;
  padding: 20px 0;
  margin-top: 96px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 56px 28px;
}
/* CARD */
.card-menu {
  border-radius: var(--border-radius);
  position: relative;
  height: 235px;
  background-color: var(--color-main-200);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  margin: 32px 0;
  padding: 12px 0px;
}
.card-menu img {
  position: absolute;
  top: -100px;
  scale: 0.8;
  border-radius: var(--border-radius);
  aspect-ratio: 1/1;
  transition: 0.5s;
}
.card-menu:hover img {
  top: -110px;
}
.card-menu .card-info {
  width: 100%;
  padding: 0 8px;
}
.card-menu .card-info .title {
  font-size: 22px;
  color: var(--color-main-900);
}
.card-menu .card-info .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 8px;
}
.card-menu .card-info .price {
  font-size: 16px;
  color: var(--color-main-800);
  font-weight: bold;
}
/* SECTION OFF */
.section-off-hero {
  background-image: url(./image/webp-y-comprimida/bg-webp-comprimido.webp);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding: 36px 16px;
}
.section-off-bg {
  background-color: #151113;
  max-width: 1000px;
  width: 100%;
  min-width: 100px;
  padding: 2%;
}
.section-off-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #b1874a;
  min-height: 400px;
  padding: 16px 16px 16px 32px;
}
.section-off-info .box-image img {
  position: relative;
  max-width: 100%;
  min-width: 100px;
  aspect-ratio: 1/1;
}
.section-off-info .box-image {
  position: relative;
}
.section-off-info .box-image .circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 220px;
  max-height: 220px;
  border-radius: 50%;
  background-color: var(--color-main);
}
.section-off-info .text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-off-info .text-box h2 {
  color: var(--text-white);
  font-size: clamp(1.5rem, 8vw, 3.8rem);
}
.section-off-info .text-box p {
  color: var(--text-white);
  font-size: clamp(1rem, 3vw, 1.8rem);
}
/* PRODUCTS */
.container-products header h1 {
  color: var(--brown-three);
  margin-top: var(--margin-top-header);
  text-align: center;
}
.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  margin: 48px 0px;
  padding: var(--grid-padding);
}
.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 2px var(--shadow-color);
  background-color: var(--color-main-200);
  margin: 0 auto;
  padding: 16px;
}
.product-card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
.product-card .product-title {
  color: var(--color-main-900);
}
.product-card .price {
  font-weight: bold;
  margin-top: 12px;
  font-size: 18px;
  color: var(--color-main-800);
}
.buttons {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.btn-buy {
  cursor: pointer;
  padding: 10px 0;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--color-main-600);
  border-radius: var(--border-radius);
  color: var(--color-main-600);
  background-color: transparent;
  transition: all 0.3s ease;
}
.btn-buy:hover {
  color: var(--text-white);
  background-color: var(--color-main-600);
}
.btn-cart {
  background-color: var(--brown-one);
  color: var(--text-white);
}
.btn-cart:hover {
  background-color: var(--brown-two);
}

/* SECTION REVIEW */
.section-review {
  padding: 0 72px;
}
.container-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-review header h2 {
  margin-bottom: 32px;
}
.testimonials-item {
  padding: 20px;
  background-color: var(--color-main-200);
}
.testimonials-item .name {
  color: var(--color-main-900);
  position: relative;
  margin-top: 16px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}
.testimonials-item p {
  color: var(--color-main-800);
  font-size: 18px;
  /* letter-spacing: 1px; */
}
.testimonials-item .rating img {
  width: 20px;
}
.swiper-backface-hidden .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* FOOTER  */
.footer {
  padding: 48px 32px;
  text-align: center;
  background-image: url("./image/webp-y-comprimida/footer-logo.webp");
  background-size: cover;
  background-position: center;
}
.footer h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--color-main);
}
.footer-info {
  height: 100%;
}
.footer-navbar {
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 32px 0px;
}
.footer-navbar a {
  cursor: pointer;
  color: var(--text-white);
  transition: color 0.3s;
}
.footer-navbar a:hover {
  color: var(--color-main);
}
.social-networks {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.box-icon {
  cursor: pointer;
  background-color: #3d3d3d;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  transition: background-color 0.3s;
}
.box-icon:hover {
  background-color: #d1a356;
}
.icon {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 12px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  #toggle {
    display: initial;
  }
  .btn-cta {
    padding: 4px 10px 6px 10px;
  }
  /* HEADER */
  .header .navbar-items {
    height: 100vh;
    position: fixed;
    top: var(--height-header);
    right: -200%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-main-200);
    box-shadow: 0 2px 4px #000;
    transition: 0.4s;
  }
  .header #navbar.active {
    right: 0;
  }
  .header .navbar-items a {
    color: var(--color-main-900);
    font-weight: bold;
    margin: 0;
    padding: 12px 56px 12px 24px;
  }
  .header .navbar-items a:hover {
    background-color: var(--color-main-900);
    color: var(--color-main-200);
    border: none;
    padding-bottom: 12px;
  }
  /* HERO */
  .hero {
    background-size: cover;
  }
  /* SECTION OFF */
  .section-off-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  .section-off-info .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
  }
  .section-off-info .text-box a {
    margin-top: 4px;
  }
  /* SECTION COFFEE */
  .section-coffee-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 48px;
  }
  .section-coffee-grid .fr {
    gap: 16px;
  }
  /* SECTION REVIEW */
  .section-review {
    padding: 0 12px;
  }
  /* FOOTER */
  .footer {
    padding: 16px;
  }
  .footer-navbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .social-networks {
    gap: 8px;
  }
}
